{{ define "main" }}

{{   if .Params.class }}
<main class="{{ .Params.class }}">
{{   else }}
<main>
{{   end }}

{{   partial "toc.html" . }}
{{   partial "breadcrumbs.html" . }}

{{   if eq .Params.display false }}
 <p>Post unavailable.</p>
{{   else }}
 <article>

{{     partial "title-et-al-main.html" . }}

  <div class="content">
{{     .Content }}

{{   with .Params.seealsoterm }}
   <div class="seealsoterm">
    <p>Related glossary entries:</p>
    <ul>
{{     range . }}
     <li>
{{-      $tag := . -}}
{{-      with $.Site.GetPage ( printf "/glossary/%s.md" ( $tag )) -}}
     <a class="term" title="Click for definition in the glossary" href="/glossary/{{ $tag }}/">
{{-        .Title -}}
     </a>
{{-      else -}}
      <span class="undef">{{ $tag }}</span>
{{-      end -}}
     </li>
{{     end }}
    </ul>
   </div>
{{   end }}
 </article>
{{ end }}
</main>
{{ end }}
