@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

:root {
    --header-background-color: rgb( 36, 37, 38 );
    --footer-background-color: rgb( 48, 56, 70 );
    --overview-background-color: rgb( 36, 37, 38 );
    --overview-border-color: rgb( 56, 57, 58 );

    --base-font: system-ui;

    --color-1: rgb( 37, 194, 160 );
    --h1-color: var(--color-1);
    --h2-color: var(--color-1);
    --href-color: var(--color-1);
    --warn-color: rgb( 255, 100, 100 );

    --base-font-color: rgb( 227, 227, 227 );
    --background-color: rgb( 27, 27, 29 );
    --heading-font-color: var(--color-1);
    --heading-font-color: rgb( 227, 227, 227 );
    --deemphasize-font-color: rgb( 140, 140, 140 );

    --header-font-size: 16px;

    --breadcrumb-font-size: 12px;

    --table-border-color: #606770;
    --table-background-color: var( --background-color );
    --table-header-background-color: #ffffff08;
    --table-stripe-background-color: #ffffff08;

    --code-font: 14px/1.4 ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    --code-color: var(--color-2);
    --code-background-color: rgb( 40, 42, 54 );

}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    background: var( --background-color );
    color: var( --base-font-color );
    font-family: var( --base-font );
    line-height: 1.5;
}

table {
    border-collapse: collapse;
}

header {
    margin: 0 0 50px 0;
    padding: 0;
    background: var( --header-background-color );
}

footer {
    clear: both;
    margin: 50px 0 0 0;
    padding: 1px 0; /* otherwise Chrome will collapse the enclosing container */
    background: var( --footer-background-color );
}

h1, h2, h3, h4, h5 {
    color: var(--heading-font-color);
    line-height: 110%;
}

h1 {
    color: var(--h1-color);
    font-size: 3rem;
}
h1:first-of-type {
    margin-top: 0;
}

h2 {
    color: var(--h2-color);
    font-size: 2rem;
    margin-top: 1.5em
}
h1 + h2 {
    margin-top: 0;
}
h3 {
    font-size: 1.5rem;
}

p {
    margin: 1.5em 0;
}
a.ext:after {
    content: url( "/assets/ext.svg" );
    margin-left: 1ex;
}
a:hover {
    color: var( --href-color );
    text-decoration: underline;
}

article,
section {
    margin-top: 3em;
}
article > p.date {
    margin: 0;
}

li {
    margin: 1ex 0;
}
dt {
    font-weight: 700;
}

header div.title,
header div.logo {
    margin: 12px 20px 12px 0;
    font-weight: 700;
}
header img.logo {
    vertical-align: middle;
    height: 32px;
}

header > div.container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
header div.nav-tagline {
    flex-grow: 1;
}

header a,
footer a {
    color: var( --base-font-color );
}
a {
    color: var( --href-color );
    text-decoration: none;
}

header > div.container,
footer > div.container,
main {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2ex;
}

footer > div.container {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer p {
    margin: 0.5ex 0;
}
main {
    min-height: min( 600px, 60vh );
}

footer, footer a {
    color: var( --deemphasize-font-color );
}
footer a:hover {
    color: var( --href-color );
}
footer ul {
    margin: 0;
    padding: 0;
}

footer li {
    padding-left: 0;
    list-style: none;
}
footer img {
    filter: brightness(.5);
}

div.slide-in-img {
    max-width: 25%;
}
div.slide-in-img img {
    width: 100%;
}
div.slide-in-img-left {
    float: left;
    margin: 0 30px 30px 0;
}
div.slide-in-img-right {
    float: right;
    margin: 0 0 30px 30px;
}

nav#breadcrumbnav ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: var( --breadcrumb-font-size );
}
nav#breadcrumbnav li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
nav#breadcrumbnav li + li::before {
    content: "\00BB";
    margin: 0 0.5ex;
}
nav#breadcrumbnav li.path a {
    color: var( --deemphasize-font-color );
}

p.main.source {
    display: none;
}

table {
    background: var( --table-background-color );
}
td,
th {
    padding: 1.5ex;
    border: 1px solid var( --table-border-color );
}

thead + tbody {
    border-top: 2px solid var( --table-border-color );
}
thead tr {
    background: var( --table-header-background-color );
}
tbody tr:nth-child(2n) {
    background: var( --table-stripe-background-color );
}
code {
    font: var( --code-font );
    color: var( --code-color );
    background: var( --code-background );
    overflow-x: auto;
    padding: 3px 0.2ex;
}
pre {
    padding: 1em;
    color: var( --code-color );
    background: var( --code-background-color );
    display: flow-root;
    overflow: scroll;
}
pre > code {
    background: none;
    padding: 0;
}

blockquote {
    margin-left: 2em;
    padding-left: 2em;
    border-left: 3px solid var(--base-font-color);
}
aside.toc {
    float: right;
    width: 220px;
    margin: 0 0 20px 20px;
    padding: 0 0 8px 16px;
    background: var( --overview-background-color );
    border-left: var( --overview-border-color ) 1px solid;
    font-size: 90%;
    color: var( --deemphasize-font-color );
}

aside.toc * {
    line-height: 120%;
}
aside.toc a {
    color: inherit;
}
aside.toc a:hover {
    color: var( --href-color );
}
aside.toc h1 {
    margin: 1ex auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 90%;
}

aside.toc ol {
    margin: 0;
    padding: 0;
}
aside.toc li {
    margin: 8px 0;
    padding: 0;
    list-style: none;
}

aside.toc > ol > li > a {
    font-weight: 500;
}

aside.toc li li {
    margin-left: 2ex;
}

article.glossary .summary {
    font-weight: 700;
}

#toc ol.toc,
#toc li.toc {
    display: none;
}
#toc ol.toc.toc-current-path,
#toc li.toc.toc-current-path,
#toc #toc-current {
    display: block;
}

#toc ol.toc.toc-current-path > li,
#toc-current ol.toc,
#toc-current li.toc,
#toc > li.toc {
    display: block;
}
#toc-current > a {
    color: var( --base-font-color );
}
#toc-current > ol.toc ol.toc {
    display: none;
}

.undef::before {
    content: "UNKNOWN PAGEREF: ";
}
.undef {
    color: red !important;
}

div.admonition {
    margin: 2em 0;
    border: 1px solid #808080;
    padding: 10px 20px;
    border-radius: 10px;
    display: flow-root;
}

div.warning p.admonition-title {
    margin-top: 1ex;
    color: var(--warn-color);
    font-size: 120%;
}
div.warning {
    border-color: var(--warn-color);
}

ul.pager {
    margin: 0;
    padding: 0;
    height: 2em;
}
ul.pager li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.pager li.newer {
    float: left;
}
ul.pager li.older {
    float: right;
    margin-right: 2em;
}


/* when display narrow, hamburger */
@media screen and (max-width: 860px) {
   footer div.container {
       flex-direction: column;
   }