/* menu navigation */

#page-nav {
    text-align: right;
    /* so we can do an absolute child */
    position: relative;
    font-size: 87.5%;
}

#page-nav label,
#hamburger {
    display: none;
}

/* menu in wide display */
nav.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--header-font-size);
    font-weight: 500;
}

nav.menu ul {
    display: flex;
    flex-direction: row;
}


/* main menu items */

#page-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#page-nav li {
    margin: 0;
    padding: 5px 10px;
    box-sizing: border-box;
}

#page-nav > ul > li {
    /* when wide display, no hamburger */
    display: inline-block;
}

/* sub-menu */

#page-nav li ul {
    display: none;
    text-align: left;
    z-index: 100;
    background: #fff;
}

#page-nav li:hover ul {
    display: block;
    position: absolute;
}

#page-nav li li {
    display: block;
}

/* when display narrow, hamburger */
@media screen and (max-width: 905px) {

    /** Hamburger icon **/
    #page-nav label {
        cursor: pointer;
        display: inline-block;
        font-style: normal;
        font-size: 30px;
        text-align: center;
        position: relative;

        /** Make tap target larger on mobile devices **/
        padding: 0px 10px;
    }

    /* Spacing in mobile display */
    #page-nav li {
        padding: 10px 15px;
    }

    /* menu in mobile display -- not open */
    nav.menu {
        display: none;
    }

    /* menu in mobile display -- open */
    input:checked~nav.menu {
        background-color: var(--header-background-color);
        display: flex;
        position: absolute;
        right: 0;
        flex-direction: column;
    }

    input:checked~nav.menu ul {
        flex-direction: column;
    }
}