{{- $ref := .Get 0 -}}
{{- $label := .Get 1 -}}
{{- $cssClass := .Get 2 }}
{{- with .Page.GetPage $ref -}}
{{-   if $label -}}
{{-     if $cssClass -}}
<a href="{{ .RelPermalink }}" class="{{ $cssClass }}">{{ $label }}</a>
{{-     else -}}
<a href="{{ .RelPermalink }}">{{ $label }}</a>
{{-     end -}}
{{-   else -}}
{{-     if $cssClass -}}
<a href="{{ .RelPermalink }}" class="{{ $cssClass }}">{{ .Title }}</a>
{{-     else -}}
<a href="{{ .RelPermalink }}">{{ .Title }}</a>
{{-     end -}}
{{-   end -}}
{{- else -}}
<span class="undef">{{ $ref }}</span>
{{- end -}}
